$default-font-color: #202020;
$title-bar-bg-color: #363020;
$default-background-color: #E5E5E5;
$container-bg-color: #F6F6F6;
$primary-color: #4A6B31;
$navbar-background: #3E413C;
$secondary-color: #97D34A;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
$primary-font-family: 'Open Sans', sans-serif;


@mixin mq($size){

    @media(min-width: $size){
        @content
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 16px;
    font-family: $primary-font-family;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
    @include mq(768px){
        // font-size: 22px;
    }
}
