/* Form controls */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="file"],
// .custom-file,
.custom-file-input,
.custom-file-label,
textarea.form-control,
select.custom-select {
    // border: 1px solid $lightColor;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid $secondary-color;
    }
    &::placeholder {
        font-family: $primary-font-family;
    }
    &::-webkit-input-placeholder {
        /* Edge */
        font-family: $primary-font-family;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: $primary-font-family;
    }
}
.form-control {
    + .text-danger.hide {
        display: none;
    }
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.capitalize{
    text-transform: capitalize;
}
.display-6{
    font-size: 1.3em;
}
.display-5{
    font-size: 1.6em;
}
.display-4{
    font-size: 1.9em;
}

.default-bg{
    background-color: $default-background-color;
}

.dropdown-menu {
    .dropdown-item:hover {
        background-color: $primary-color;
        color: #ffffff;
        transition: all 300ms ease-in-out;
    }
}


.title-wrapper{
    background-color: $title-bar-bg-color;
}
/* Buttons */
.btn{
    transition: all 300ms ease-in-out;
    &:focus {
        box-shadow: none;
    }
    border:none;
}

.btn-primary{
    background-color: $primary-color;
    &:hover{
        background-color: $secondary-color;
    }
}